.notification {
  border-radius: 5px;
  background-color: lightgrey;
  font-size: 20px;
  padding: 10px;
  margin: 0 0 10px 0;
}

.success {
  color: green;
  border: 3px solid green;
}

.error {
  color: red;
  border: 3px solid red;
}